BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
BANK 5 VCCIO 3.3 V;
BANK 6 VCCIO 3.3 V;

IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;

SYSCONFIG JTAG_PORT=DISABLE  SDM_PORT=PROGRAMN  I2C_PORT=DISABLE  SLAVE_SPI_PORT=ENABLE  MCCLK_FREQ=10.23 ;


### main ###
#LOCATE COMP "sysclk"           SITE "27";
#IOBUF PORT "sysclk" IO_TYPE=LVCMOS33;

### blink ###
LOCATE COMP "BLINK_LED"           SITE "113";
IOBUF PORT "BLINK_LED" IO_TYPE=LVCMOS33;


