// ### main ###
IO_LOC "sysclk" 52;
IO_PORT "sysclk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// ### blink ###
IO_LOC "BLINK_LED" 10;
IO_PORT "BLINK_LED" IO_TYPE=LVCMOS33;

// ### expansion_shiftreg ###
IO_LOC "EXPANSION0_SHIFTREG_CLOCK" 71;
IO_PORT "EXPANSION0_SHIFTREG_CLOCK" IO_TYPE=LVCMOS33;
IO_LOC "EXPANSION0_SHIFTREG_LOAD" 70;
IO_PORT "EXPANSION0_SHIFTREG_LOAD" IO_TYPE=LVCMOS33;
IO_LOC "EXPANSION0_SHIFTREG_OUT" 73;
IO_PORT "EXPANSION0_SHIFTREG_OUT" IO_TYPE=LVCMOS33;
IO_LOC "EXPANSION0_SHIFTREG_IN" 72;
IO_PORT "EXPANSION0_SHIFTREG_IN" IO_TYPE=LVCMOS33 PULL_MODE=UP;

