### main ###
LOCATE COMP "sysclk_in"           SITE "P6";
IOBUF PORT "sysclk_in" IO_TYPE=LVCMOS33;

### blink ###
LOCATE COMP "BLINK_LED"           SITE "T6";
IOBUF PORT "BLINK_LED" IO_TYPE=LVCMOS33;

### expansion_shiftreg ###
LOCATE COMP "EXPANSION0_SHIFTREG_CLOCK"           SITE "G2";
IOBUF PORT "EXPANSION0_SHIFTREG_CLOCK" IO_TYPE=LVCMOS33;
LOCATE COMP "EXPANSION0_SHIFTREG_LOAD"           SITE "G1";
IOBUF PORT "EXPANSION0_SHIFTREG_LOAD" IO_TYPE=LVCMOS33;
LOCATE COMP "EXPANSION0_SHIFTREG_OUT"           SITE "H2";
IOBUF PORT "EXPANSION0_SHIFTREG_OUT" IO_TYPE=LVCMOS33;
LOCATE COMP "EXPANSION0_SHIFTREG_IN"           SITE "C4";
IOBUF PORT "EXPANSION0_SHIFTREG_IN" IO_TYPE=LVCMOS33;

