// ### main ###
IO_LOC "sysclk" H11;
IO_PORT "sysclk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// ### blink ###
IO_LOC "BLINK_LED" C13;
IO_PORT "BLINK_LED" IO_TYPE=LVCMOS33;

// ### enable ###
IO_LOC "ENA" M14;
IO_PORT "ENA" IO_TYPE=LVCMOS33;

// ### dout_bit ###
IO_LOC "LED1" T6;
IO_PORT "LED1" IO_TYPE=LVCMOS33;
IO_LOC "LED2" P6;
IO_PORT "LED2" IO_TYPE=LVCMOS33;
IO_LOC "LED3" R8;
IO_PORT "LED3" IO_TYPE=LVCMOS33;
IO_LOC "LED4" T7;
IO_PORT "LED4" IO_TYPE=LVCMOS33;
IO_LOC "LED5" P8;
IO_PORT "LED5" IO_TYPE=LVCMOS33;
IO_LOC "DOUT11" J14;
IO_PORT "DOUT11" IO_TYPE=LVCMOS33;

// ### joint_stepper ###
IO_LOC "JOINT8_STEPPER_STP" R11;
IO_PORT "JOINT8_STEPPER_STP" IO_TYPE=LVCMOS33;
IO_LOC "JOINT8_STEPPER_DIR" P11;
IO_PORT "JOINT8_STEPPER_DIR" IO_TYPE=LVCMOS33;
IO_LOC "JOINT9_STEPPER_STP" J16;
IO_PORT "JOINT9_STEPPER_STP" IO_TYPE=LVCMOS33;
IO_LOC "JOINT9_STEPPER_DIR" M15;
IO_PORT "JOINT9_STEPPER_DIR" IO_TYPE=LVCMOS33;
IO_LOC "JOINT10_STEPPER_STP" T12;
IO_PORT "JOINT10_STEPPER_STP" IO_TYPE=LVCMOS33;
IO_LOC "JOINT10_STEPPER_DIR" T11;
IO_PORT "JOINT10_STEPPER_DIR" IO_TYPE=LVCMOS33;

// ### din_bit ###
IO_LOC "BUTTON1" T8;
IO_PORT "BUTTON1" IO_TYPE=LVCMOS33;
IO_LOC "BUTTON2" T9;
IO_PORT "BUTTON2" IO_TYPE=LVCMOS33;
IO_LOC "BUTTON3" P9;
IO_PORT "BUTTON3" IO_TYPE=LVCMOS33;

